.Typist .Cursor {
  display: inline-block;
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 0.9s step-end infinite;
}

@keyframes glimmerAnimation {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

.hide-contact {
  opacity: 0;
}

.nav {
  position: relative;
  transform: translateY(40vh);
  transition: transform 0.25s ease-out;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animate-top {
  transform: translateY(0vh);
}

.placeholder-container {
  position: relative;
  background-size: contain;
  padding-bottom: -10px;
}

.no-cursor {
  cursor: default !important;
}

.placeholder-glimmer {
  position: absolute;
  pointer-events: none !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.4) 100%
  );
  background-size: 200% 100%;
  animation: glimmerAnimation 1.5s infinite;
}

#root {
  height: 100%;
  width: 100%;
}

#root > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(32, 33, 36);
  font-family: Consolas, monaco, monospace;
  color: rgb(255, 255, 255);
  height: 100%;
  margin: 0;
  width: 100%;
  overflow: auto;
}

p {
  margin-top: 0;
}

::-webkit-scrollbar {
  width: 0;
}

p.raw-job-text:nth-of-type(n) {
  opacity: 0;
}

.company-logo {
  margin-left: 5px !important;
  overflow: inherit !important;
}

#job-text-1 {
  animation: blink 0.5s step-end 1s forwards;
}

#job-text-2 {
  animation: blink 0.5s step-end 2s forwards;
}

#job-text-3 {
  animation: blink 0.5s step-end 3s forwards;
}

#logo-1 {
  animation: blink 1.5s step-end 0s forwards;
}

#logo-2 {
  animation: blink 2.5s step-end 0s forwards;
}

#logo-3 {
  animation: blink 3.5s step-end 0s forwards;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work-panel {
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
  width: 100%;
}

.job-entry {
  align-items: center;
  background-color: #666;
  flex-basis: 200px;
  min-height: 200px;
  justify-content: space-between;
  display: flex;
  min-width: 280px;
  padding-bottom: 5rem;
  opacity: 0;
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 350px) {
  .nav-links {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 620px) {
  .job-entry {
    font-size: 0.7rem;
    max-width: calc(100vw - 20%);
  }
}

#entry-1 {
  animation: blink 0.5s step-end 0s forwards;
}

#entry-2 {
  animation: blink 0.5s step-end 1s forwards;
}

#entry-3 {
  animation: blink 0.5s step-end 2s forwards;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact-modal {
  background-color: rgb(171, 171, 171) !important;
  color: white !important;
}

.company-logo:hover {
  background-color: rgb(78, 79, 82);
}

.job-entry:first-of-type::before {
  margin-top: calc(100px);
}

.job-entry:last-of-type::before {
  margin-bottom: calc(40px);
}

.contact {
  opacity: 0;
  animation: blink 0.7s step-end 0s forwards;
}

.tree * {
  color: white !important;
  text-decoration: none;
}

.tree .names .status {
  background-color: black;
}

.terminal-input {
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

.nav-button {
  background-color: #666 !important;
}

.header {
  max-height: 10%;
}

div.text {
  font-size: 2rem;
}
