.Typist .Cursor {
  display: inline-block;
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 0.9s step-end infinite;
}

#root {
  height: 100%;
  width: 100%;
}

#root > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(32, 33, 36);
  font-family: Consolas, monaco, monospace;
  color: rgb(255, 255, 255);
  height: 100%;
  margin: 0;
  width: 100%;
  overflow: auto;
}

p {
  margin-top: 0;
}

::-webkit-scrollbar {
  width: 0;
}

p.raw-job-text:nth-of-type(n) {
  opacity: 0;
}

.company-logo {
  margin-left: 5px !important;
}

#job-text-1 {
  animation: blink 0.5s step-end 1s forwards;
}

#job-text-2 {
  animation: blink 0.5s step-end 2s forwards;
}

#job-text-3 {
  animation: blink 0.5s step-end 3s forwards;
}

#logo-1 {
  animation: blink 1.5s step-end 0s forwards;
}

#logo-2 {
  animation: blink 2.5s step-end 0s forwards;
}

#logo-3 {
  animation: blink 3.5s step-end 0s forwards;
}

.job-entry {
  align-items: center;
  flex-basis: 200px;
  min-height: 200px;
  justify-content: center;
  display: flex;
  margin: 0 15% 10px 15% !important;
  opacity: 0;
}

#entry-1 {
  animation: blink 0.5s step-end 0s forwards;
}

#entry-2 {
  animation: blink 0.5s step-end 1s forwards;
}

#entry-3 {
  animation: blink 0.5s step-end 2s forwards;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.company-logo:hover {
  background-color: rgb(78, 79, 82);
}

.job-entry:first-of-type::before {
  margin-top: calc(100px);
}

.job-entry:last-of-type::before {
  margin-bottom: calc(40px);
}

.work-panel {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.tree * {
  color: white !important;
  text-decoration: none;
}

.tree .names .status {
  background-color: black;
}

.terminal-input {
  display: flex;
}

.nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  max-height: 10%;
}

div.text {
  font-size: 2rem;
}
