.Typist .Cursor {
  display: inline-block;
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 0.9s step-end infinite;
}

#root {
  height: 100%;
  width: 100%;
}

#root > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(32, 33, 36);
  font-family: Consolas, monaco, monospace;
  color: rgb(255, 255, 255);
  height: 100%;
  margin: 0;
  width: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
}

p.raw-job-text {
  animation: blink 1s steps(2, jump-none);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.company-logo {
  margin-left: 5px !important;
}

.company-logo:hover {
  background-color: rgb(78, 79, 82);
}

.job-entry {
  align-items: center;
  flex-basis: 200px;
  justify-content: center;
  display: flex;
  margin: 0 15% 10px 15% !important;
}

.job-entry:nth-of-type(n) {
  animation: top-to-bottom 1s ease forwards;
}

.job-entry:not(:first-of-type, :last-of-type)::before {
  border: 1px rgb(145, 28, 39) solid;
  content: "";
  height: 50%;
  left: 50%;
  position: absolute;
  z-index: -1;
}

.job-entry:first-of-type::before {
  margin-top: calc(100px);
}

.job-entry:last-of-type::before {
  margin-bottom: calc(40px);
}

/* .job-description, */
/*.typist-job-description */
.foo {
  background-color: rgb(48, 49, 52);
  border-radius: 5px;
  margin: 5px;
  padding: 1em 1em 1em;
  width: 80%;
}

.work-panel {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.tree * {
  color: white !important;
  text-decoration: none;
}

.tree .names .status {
  background-color: black;
}

.terminal-input {
  display: flex;
}

.nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.typist {
  /* position: absolute; */
  /* margin-left: 45%; */
}

.header {
  max-height: 10%;
}

div.text {
  font-size: 2rem;
}
